@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF0F5;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 30px 100px;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 100px;
}

header ul.nav.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF0F5;
  z-index: 10;
}

header ul li {
  list-style: none;
}

header a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.toggle span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #333;
}

.toggle.active {
  z-index: 12;
}

.toggle.active span {
  display: none;
}

.toggle.active span:first-child {
  display: block;
  -webkit-transform: rotate(-45deg) translateY(18px);
          transform: rotate(-45deg) translateY(18px);
}

.toggle.active span:last-child {
  display: block;
  -webkit-transform: rotate(45deg) translateY(-18px);
          transform: rotate(45deg) translateY(-18px);
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
}

.content__text {
  position: relative;
  max-width: 60%;
}

.content__text h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content__text h2 span {
  color: #a72e62;
  font-size: 1.2em;
  font-weight: 900;
}

.content__text p {
  color: #333;
  line-height: 1.5em;
}

.content__text a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #a72e62;
  color: #FFF0F5;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__img img {
  width: 90%;
  height: 90%;
  margin-right: 50px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.thumb li:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.thumb li img {
  max-width: 70px;
}

.social-icons {
  position: absolute;
  top: 50%;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  margin: 5px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-icons img {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #a72e62;
  -webkit-clip-path: circle(51% at right 800px);
          clip-path: circle(51% at right 800px);
}

@media all and (max-width: 991px) {
  .logo {
    margin: 20px;
    max-width: 50px;
  }
  header ul {
    display: none;
  }
  header a {
    font-size: 2em;
    line-height: 2;
    position: relative;
  }
  header a:before {
    content: '';
    width: 0px;
    height: 3px;
    position: absolute;
    top: 2em;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #a72e62;
  }
  header a:hover:before {
    width: 50px;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content {
    margin: 20px;
    margin-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__text {
    max-width: 100%;
  }
  .content__text h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
  .content__img {
    max-width: 100%;
  }
  .content__img img {
    width: 70%;
    height: 70%;
  }
  .circle {
    -webkit-clip-path: circle(45% at center bottom);
            clip-path: circle(45% at center bottom);
  }
  .thumb {
    bottom: 0%;
  }
  .thumb li {
    margin: 5px;
  }
  .thumb li img {
    max-width: 35px;
  }
  .social-icons {
    background-color: #a72e62;
    top: 65%;
    right: 0;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
/*# sourceMappingURL=style.css.map */